<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ModelDeploymentOnFlask</title>      
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="predict">
            <h1>Predict The Grade</h1>

            <div class = "class1">
            <form action="{{ url_for('predict')}}" class="form" method="post">
                
                <label for="studytime">Study Time</label>
                <input type="number" id="studytime" name="studytime" required="required">
                <label for="failures">Failures</label>
                <input type="number" id="failures" name="failures" required="required">
                <label for="absence">Number of Absence</label>
                <input type="number" id="absence" name="absence" required="required">
                <label for="Grade_one">First Grade</label>
                <input type="number" id="Grade_one" name = "G1" required="required">
                <label for="Grade_two">Second Grade</label>
                <input type="number" id="Grade_two" name = "G2" required="required">

                <button type="submit" class="btn">Predict Grade</button>
            </form>

            <div class="answer">{{pred}}</div>

            </div>
        </div>
    </body>
</html>